{% extends "base.html.twig" %}
{% block body %}

	
	<section id="advertisement">
		<div class="container">
			<img src="{{asset('images/shop/advertisement.jpg')}}" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						{% include 'navigation.html.twig' %}
					
					</div>
				</div>
				
<div class="col-sm-9 padding-right">
	<div class="features_items"><!--features_items-->
		<h2 class="title text-center">Nos Formations</h2>
			{% for produit in produits %}
<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="{{ produit.image.path }}" alt="" />
				<h2>{{ produit.prix }}dt</h2>
				<p>{{ produit.nom }}</p>
				<!--<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
			</div>
			<div class="product-overlay">
				<div class="overlay-content">
					<h2>{{ produit.prix }}dt</h2>
					<p>{{ produit.nom }}</p>
					<a href="{{ path('presentation', { 'id' : produit.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-list-alt"></i>More informations</a>
					<!--<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
				</div>
			</div>
		</div>
		<!--<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
				<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
			</ul>
		</div>-->
		

	       
	</div>
</div>
{% endfor %}
<!--features_items-->
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
